<h1>Listing non_profits</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Mission</th>
    <th>Bio</th>
    <th>Image</th>
    <th>Pledge</th>
    <th>Hours</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @non_profits.each do |non_profit| %>
  <tr>
    <td><%= non_profit.name %></td>
    <td><%= non_profit.mission %></td>
    <td><%= non_profit.bio %></td>
    <td><%= non_profit.image %></td>
    <td><%= non_profit.pledge %></td>
    <td><%= non_profit.hours %></td>
    <td><%= link_to 'Show', non_profit %></td>
    <td><%= link_to 'Edit', edit_non_profit_path(non_profit) %></td>
    <td><%= link_to 'Destroy', non_profit, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Non profit', new_non_profit_path %>
