<!DOCTYPE html>
<html>
<head>
  <title>Facekick</title>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  
  <script>var $j = jQuery.noConflict();</script>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>


  <body>
      <div id="page-wrap">
           <header>
            <div id="header-wrap">
              <div id="logo-wrap">
                <a href="#">
                <h1 id="logo">Fundit</h1>
                <h2 id="tagline">A Place for Non-Profits</h2>
                </a>
              </div><!-- end of logo-wrap -->
              
              <ul id="funds">
                <li id="org"><h3>I'm a Non-Profit Organization</h3> <%= link_to 'Get Funds', new_non_profit_path %></li>
                <li id="vol"><h3>I'm a Volunteer or Donor</h3> <%= link_to 'Give Funds', new_volunteer_path %></li>
                <li id="banner"><span><h4>New Non-Profit</h4></span></li>
              </ul>
              
            <!--  <ul id="login">
                <li id="current-state">You are not logged in!</li>
                <li><a href="#">Register</a>|</li>
                <li><a href="volunteer.html">Login</a></li>
              </ul> -->
            </div>
           </header>

<%= yield %>

  
<div id="content-wrap">
              
            <div id="slideshow-wrap">
              <div id="slideshow-inner">
                
              <div id="slideshow">
                <%= image_tag "img1.jpg" %>
                <%= image_tag "img2.jpg" %>
                <%= image_tag "img3.jpg" %>
              </div><!-- end of slideshow -->
              
              <!-- captions for slideshow -->
              <span class="orbit-caption" id="htmlCaption"><strong>I'm A Badass Caption:</strong> I can haz <a href="#">links</a>, <em>style</em> or anything that is valid markup :)</span>
              
              </div><!-- end of slideshow-inner -->
            </div><!-- end of slideshow-wrap -->
              
  
            <div id="cat-wrap">
              <ul id="categories">
                <li id="first-cat"><a href="#">Art &amp; Media</a></li>
                <li><a href="#">Communication</a></li>
                <li><a href="#">Environmental</a></li>
                <li><a href="#">Human Rights</a></li>
                <li><a href="#">Animal Rights</a></li>
              </ul>
            </div><!-- end of cat-wrap -->
            
            <div id="ticker-wrap">
              <div id="ticker">
                <h3>Fundt helped raise &#36;<span id="ticker-money">5,053.45</span> and  <span id="ticker-hours">5645</span> hours so far.</h3>
              </div><!-- end of ticker -->
            </div><!-- end of ticker-wrap -->
              
              
            <div id="featured-wrap">
              <ul>
                
                <li><h4>Featured Organization</h4><span class="featured-img"><%= image_tag "featured1.jpg" %></span><span class="caption">Tree Planting</span><br /><a href="#">button</a></li>
                <li><h4>Featured Organization</h4><span class="featured-img"><%= image_tag "featured2.jpg" %></span><span class="caption">Grow Rice</span><br /><a href="#">button</a></li>
                
                 <% @volunteers.each do |volunteer| %>
                  <li><h4>Featured Volunteer</h4><span class="featured-img"><%= image_tag "volunteers/" + volunteer.get_image, :width=>'190px', :height=>'140px' %></span><span class="caption"><%= volunteer.name %></span><br /><a href="/volunteers/<%= volunteer.id %>"></a></li>
                <% end %>
                
              </ul>
            </div><!-- end of featured-wrap -->

            </div><!-- end of content-wrap -->


        <footer>
          <div id="footer-wrap">
            <ul id="footer-cat-wrap">
              <li class="title">Categories
                <ul>
                  <li><a href="#">Art &amp; Media</a></li>
                  <li><a href="#">Communication</a></li>
                  <li><a href="#">Environmental</a></li>
                  <li><a href="#">Human Rights</a></li>
                  <li><a href="#">Animal Rights</a></li>
                </ul>
              </li>
              <li class="title">Contact
                <ul>
                  <li><address>P.O. Box 1869<br />Portland, OR</address></li>
                  <li>Phone 503.558.0550</li>
                  <li>Fax 503.558.0992</li>
                  <li><%= image_tag "mainpage/map.png" %></li>
                </ul>
              </li>
              <li class="title">Like us on Facebook
                <ul id="facebook">
                  <li class="clear"><a href="#"><%= image_tag "mainpage/facebook_like.png" %></a> 100 People like this</li>
                  <li class="clear">Grow Rice in South America<span class="like">5 People like this</span></li>
                  <li class="clear">1000 Tree Planting in New Mexico<span class="like">16 People like this</span></li>
                </ul>
              </li>
              <li class="title">Follow us on Twitter
                <ul id="twitter">
                  <li class="clear">Check out our organization of the day:<span class="org-day">http://waterdata.gov</span><span class="org-meta">6 hours ago | <a href="#">reply</a></span></li>
                  <li class="clear">Check out our organization of the day:<span class="org-day">http://waterdata.gov</span><span class="org-meta">8 days ago | <a href="#">reply</a></span></li>
                </ul>
              </li>
            </ul>
            <div id="footer-logo"><%= image_tag "mainpage/footer_logo.png" %></div>
          </div><!-- end of footer-wrap -->
        </footer> 
      </div><!-- end of page-wrap -->
        <!-- custom js -->
        <script type="text/javascript" src="js/custom.js"></script>
</body>
</html>
